nav {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100vw;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: row;

    .logo {
        height: 80px;
        width: 80px;
    }
    .header {
        margin-left: 10px;
        font-size: 2em;
        line-height: 80px;
    }
    .compose-tweet-button {
        background-color: rgba(255, 255, 255, 0.9);

        span {
            font-size: 1.5em;
            color: #00a087;
        }
    }
}
