@import "nav";
main.container {
    width: 450px;
    background-color: white;
    padding-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

.container .error-flash-message {
    display: none;
    background-color: pink;
    color: white;
    font-weight: 600;
}
